@font-face {
    font-family: cu;
    src: url(../fonts/cu.TTF);
}

@font-face {
    font-family: san;
    src: url(../fonts/san.ttf);
}

@font-face {
    font-family: zhun;
    src: url(../fonts/zhun.TTF);
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    color: #292929;
    font-weight: 300;
}

h3 {
    padding: 5px 20px;
    margin: 0;
}

div#bg-container {
    background-image: url('../images/div1/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: calc(0.813 * 100vw);
}

#slogan1 {
    color: white;
    margin: 5px;
    font-size: 6.5vw;
    text-shadow: #444444 0.01em 0.01em 0.1em;
}

#slogan2 {
    color: white;
    margin: 5px;
    font-size: 4vw;
    text-shadow: #444444 0.01em 0.01em 0.1em;
}

div#slogan {
    position: relative;
    left: 8vw;
    bottom: 6vw;
    font-family: cu;
    text-align: left;
    width: 100%;
}



div#extra {
    font-family: zhun;
    width: 50vw;
    margin-left: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

div#inquiry-form {
    position: relative;
    right: 3vw;
    flex: 1;
    border-radius: 1.5vw;
    background: white;
    font-family: san;
    margin-top: 6vw;
}

div#slogan {
    flex: 2;
}

div#container1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
}

div#three12 {
    background-image: url(../images/div1/3-12.png);
    height: 5vw;
    width: 35vw;
    margin-left: 22.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.goodies {
    width: calc(100% * (1/2));
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#form-body {
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    width: 30vw;
    margin-bottom: 3vw;
}

.extra-title {
    color: white;
    text-align: center;
    padding-left: 8vw;
    padding-top: 5vw;
    text-shadow: #444444 0.01em 0.01em 0.1em;
    font-size: 2.5vw;
}

#form-title-1 {
    font-size: 3vw;
    text-align: center;
    margin: 0px;
    margin-top: 1vw;
}

#form-title-2 {
    font-size: 3vw;
    color: #b43938;
    text-align: center;
    margin: 0px;
}

#jie {
    background-image: url('../images/div1/jie.png');
    background-size: cover;
    height: 10vw;
    width: 21vw;
    text-align: center;
}

#fen {
    background-image: url('../images/div1/fen.png');
    background-size: cover;
    height: 10vw;
    width: 21vw;
    text-align: center;
}

#ben {
    background-image: url('../images/div1/ben.png');
    background-size: cover;
    height: 10vw;
    width: 21vw;
    text-align: center;
}

#fourjie {
    background-image: url('../images/div1/4jie.png');
    background-size: cover;
    height: 10vw;
    width: 21vw;
    text-align: center;
}


.slogan31 {
    position: relative;
    bottom: 0.8vw;
    right: 2vw;
    font-size: 2vw;
    color: #b43938;
    flex: 1;
}

.slogan32 {
    position: relative;
    bottom: 0.9vw;
    right: 9vw;
    font-size: 2vw;
    color: white;
    flex: 2;
}

.goodies-text {
    width: 8vw;
    padding: 1vw 0 1.5vw 2vw;
    font-size: 2vw;
}

.goodies-icon-text {
    position: relative;
    bottom: 1vw;
    width: 5vw;
    align-self: flex-end;
    padding: 0 0 0 2.5vw;
    font-size: 1.5vw;
}

.inputbox {
    display: block;
    width: 29vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: none;
    border-radius: 1vw;
    background-color: #f7f5f5;
    height: 3vw;
    border: 0.1vw solid #ccc;
    text-indent: 1vw;
}

div#submit-button input {
    position: relative;
    top: 1vw;
    border-radius: 8vw;
    background-color: #ee3b1e;
    color: white;
    width: 20vw;
    height: 4vw;
    cursor: pointer;
    outline: none;
    border-style: hidden;
    font-size: 2vw;
    margin-bottom: 1vw;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cccd;
    font-size: 1.5vw;
}

#comp-logo {
    height: 7.7vw;
    margin-bottom: -10px;
}

#safe-logo {
    position: relative;
    display: inline;
    height: 1.5vw;
    top: 0.5vw;
}

#form-footer {
    position: relative;
    font-size: 1.2vw;
    display: inline;
    color: #656565;
    top: 0.3vw;
}

#guard {
    color: #b43938;
}

/* phone input */
.input dl {
    height: 140px;
    overflow-y: scroll;
    background: #ffffff;
    margin-top: 10px;
    display: none;
    position: absolute;
    width: 200px;
    z-index: 999;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    left: 10px;
    top: 16vw;
    text-align: left;
    font-family: "SourceHanSansCN-Normal", "Source Han Sans CN", sans-serif, Helvetica, "Helvetica Neue";
}

.input dl dd {
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    border-radius: 15px;
    color: #666666;
    white-space: nowrap;
    font-family: "SourceHanSansCN-Normal", "Source Han Sans CN", sans-serif, Helvetica, "Helvetica Neue";
}

.div-box input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0 10px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}

.div-box .inptt {
    width: 8vw;
    height: 3vw;
    position: absolute;
    left: 2vw;
    z-index: 999;
    background: none;
    border: none;
}

.div-box .inptt:focus {
    outline-width: 0;
}

.div-box .lxfs {
    display: block;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: none;
    border-radius: 1vw;
    background-color: #f7f5f5;
    height: 3.4vw;
    border: 0.1vw solid #ccc;
    text-indent: 5.5vw;
}

.div-box i {
    position: absolute;
    width: 0.2vw;
    height: 3.2vw;
    background: url(../images/jjt_03.png) no-repeat;
    background-position: center;
    background-size: cover;
    top: 14.7vw;
    left: 7.5vw;
}

input[type="text"] {
    color: #999999;
    font-size: 1.5vw;
    font-family: zhun;
}

@media (max-width:600px) {
    div#bg-container {
        background-image: url('../images/div1/bg2.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: calc(1.625 * 100vw);
    }

    #slogan1 {
        position: relative;
        color: white;
        font-size: 10vw;
        text-shadow: #444444 0.01em 0.01em 0.1em;
    }

    #slogan2 {
        color: white;
        margin: 5px;
        font-size: 6vw;
        text-shadow: #444444 0.01em 0.01em 0.1em;
    }

    #form-title-1 {
        font-size: 6vw;
        text-align: center;
        margin: 0px;
        margin-top: 3vw;
    }

    #form-title-2 {
        font-size: 6vw;
        color: #b43938;
        text-align: center;
        margin: 1vw;
        margin-bottom: 5vw;
    }

    div#container1 {
        position: relative;
        top: 5vw;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    div#inquiry-form {
        right: 0;
        border-radius: 2vw;
        background: white;
        font-family: san;
        margin-top: 20vw;
        box-shadow: #444444 0.01em 0.01em 0.1em;
    }

    div#slogan {
        position: relative;
        left: -1vw;
        text-align: center;
    }

    div#extra {
        position: relative;
        width: auto;
        top: 10vw;
        left: 10vw;
        display: grid;
        grid-template-rows: 2vw 10vw;
        grid-template-columns: repeat(4, 20vw);
        align-content: center;
        align-items: center;
    }

    .extra-title {
        position: relative;
        left: -2vw;
        color: #b43938;
        text-align: center;
        text-shadow: none;
        font-size: 3vw;
        grid-row: 1/1;
        grid-column: 1/3;
        padding-top: 0;
        overflow: visible;
        white-space: nowrap;
    }


    .goodies {
        width: calc(100% * (1/2));
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-row: 2/2;
    }

    div#three12 {
        position: relative;
        left: 32vw;
        background-image: url(../images/div1/3-12.png);
        height: 4vw;
        width: 30vw;
        margin-left: 18vw;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    #comp-logo {
        position: relative;
        right: 10vw;
        height: 12vw;
        margin-bottom: -3vw;
    }

    #form-body {
        text-align: center;
        width: 75vw;
        height: 75vw;
    }

    .inputbox {
        display: block;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vw;
        margin-bottom: 1.5vw;
        border: none;
        border-radius: 1vw;
        background-color: #f7f5f5;
        height: 7vw;
        border: 0.1vw solid #ccc;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #cccd;
        font-size: 3vw;
    }

    div#three12 {
        position: relative;
        top: 3vw;
        background-image: url(../images/div1/3-12.png);
        height: 6vw;
        width: 30vw;
        margin-left: 25vw;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    #safe-logo {
        position: relative;
        display: inline;
        height: 3vw;
        bottom: 2vw;
    }

    #form-footer {
        position: relative;
        font-size: 3vw;
        display: inline;
        bottom: 2vw;
    }

    div#submit-button input {
        margin-top: 1vw;
        border-radius: 2vw;
        background-color: #ee3b1e;
        color: white;
        width: 40vw;
        height: 8vw;
        cursor: pointer;
        outline: none;
        border-style: hidden;
        font-size: 4.5vw;
    }

    .slogan31 {
        position: relative;
        bottom: 0.3vw;
        right: 0.6vw;
        font-size: 2vw;
        color: #b43938;
        flex: 1;
    }

    .slogan32 {
        position: relative;
        bottom: 0.35vw;
        right: 3vw;
        font-size: 2vw;
        color: white;
        flex: 2;
    }

    /* phone input */
    .input dl {
        height: 140px;
        overflow-y: scroll;
        background: #ffffff;
        margin-top: 10px;
        display: none;
        position: absolute;
        width: 300px;
        z-index: 999;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        left: 10px;
        top: 39vw;
        text-align: left;
        font-family: zhun;
    }

    .input dl dd {
        font-size: 14px;
        height: 35px;
        line-height: 35px;
        padding: 0 5px;
        border-radius: 15px;
        color: #666666;
        white-space: nowrap;
        font-family: zhun;
    }

    .div-box input {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 0 10px;
        border: none;
        font-size: 15px;
        border-radius: 10px;
    }

    .div-box .inptt {
        position: relative;
        top: 37vw;
        width: 8vw;
        height: 3vw;
        position: absolute;
        left: 9.5vw;
        z-index: 999;
        background: none;
        border: none;
        padding-right: 0;
        padding-left: 0.9vw;
    }

    .div-box .lxfs {
        display: block;
        width: 61vw;
        margin-top: 2vw;
        margin-bottom: 1.5vw;
        margin-left: 7vw;
        border: none;
        border-radius: 1vw;
        background-color: #f7f5f5;
        height: 7vw;
        border: 0.1vw solid #ccc;
        text-indent: 8.5vw;
    }

    .div-box i {
        position: absolute;
        width: 0.2vw;
        height: 6.7vw;
        background: url(../images/jjt_03.png) no-repeat;
        background-position: center;
        background-size: cover;
        top: 35.2vw;
        left: 18vw;
    }

    input[type="text"] {
        color: #999999;
        font-size: 2.6vw;
        font-family: zhun;
    }
}

/*
section 2
*/

div#bg-container-2 {
    background-image: url(../images/div2/bg.png);
    background-size: cover;
    height: calc(0.927 * 100vw);
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 50%;
}

ul {
    list-style-type: none;
    text-indent: -3vw;
}

#why1::before {
    content: '';
    display: inline-block;
    height: 3vw;
    width: 3vw;
    background-size: 3vw;
    right: 1vw;
    top: 1vw;
    background-image: url(../images/div2/01.png);
    background-repeat: no-repeat;
    position: relative;
}

#why2::before {
    content: '';
    display: inline-block;
    height: 3vw;
    width: 3vw;
    background-size: 3vw;
    right: 1vw;
    top: 1vw;
    background-image: url(../images/div2/02.png);
    background-repeat: no-repeat;
    position: relative;
}

#why3::before {
    content: '';
    display: inline-block;
    height: 3vw;
    width: 3vw;
    background-size: 3vw;
    right: 1vw;
    top: 1vw;
    background-image: url(../images/div2/03.png);
    background-repeat: no-repeat;
    position: relative;
}

#why4::before {
    content: '';
    display: inline-block;
    height: 3vw;
    width: 3vw;
    background-size: 3vw;
    right: 1vw;
    top: 1vw;
    background-image: url(../images/div2/04.png);
    background-repeat: no-repeat;
    position: relative;
}

#why5::before {
    content: '';
    display: inline-block;
    height: 3vw;
    width: 3vw;
    background-size: 3vw;
    right: 1vw;
    top: 1vw;
    background-image: url(../images/div2/05.png);
    background-repeat: no-repeat;
    position: relative;
}

#why6::before {
    content: '';
    display: inline-block;
    height: 3vw;
    width: 3vw;
    background-size: 3vw;
    right: 1vw;
    top: 1vw;
    background-image: url(../images/div2/06.png);
    background-repeat: no-repeat;
    position: relative;
}

#nt1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 2;
}

#nt2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-start: 3;
}

#ipad {
    position: relative;
    left: 10%;
    bottom: 15%;
    height: 40vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-start: 4;
}

#why {
    position: relative;
    bottom: 20%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-start: 4;
    width: 50%;
    font-family: zhun;
    color: #370100;
    font-size: 2vw;
}

li+li {
    margin-top: 5%;
}

.narrative-title {
    margin-top: 20%;
    font-family: cu;
    font-size: 4vw;
    color: #b43938;
}

.narrative {
    margin: 0 10% 10% 10%;
    font-family: zhun;
    font-size: 1.6vw;
    color: #444444;
    line-height: 170%;
}

#yaya {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-start: 4;
    position: relative;
    top: 26vw;
    height: 15vw;
    left: 20%;
}

/*
sec3
*/

div#bg-container-3 {
    background-image: url(../images/div3/bg.png);
    background-size: cover;
    height: calc(0.721 * 100vw);
    display: grid;
    justify-items: center;
    grid-template-rows: 20% 80%;
}

#curr {
    height: 50vw;
    position: relative;
    top: 20%;
}

#nt-cur {
    position: relative;
    top: 70%;
}

/*
sec4
*/

div#bg-container-4 {
    background-image: url(../images/div4/bg.png);
    background-size: cover;
    height: calc(0.805 * 100vw);
    display: grid;
    justify-items: center;
    grid-template-rows: 100%;
    grid-template-columns: 5% 90% 5%;
    font-family: zhun;
}

#nt-teachers {
    position: relative;
    top: 33%;
    width: 80vw;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.scrolling-wrapper {
    position: relative;
    top: 45%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    grid-row: 1;
    width: 90%;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 50vw;
}

.left {
    position: relative;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 5%;
    top: 55%;
    left: 50%;
    cursor: pointer;
}

.right {
    position: relative;
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 5%;
    top: 55%;
    right: 50%;
    cursor: pointer;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.card {
    display: inline-block;
    text-align: center;
    width: 30vw;
    font-size: 1.3vw;
    margin-left: -3vw;
}

.teachers {
    width: 60%;
}

.names {
    color: brown;
    position: relative;
    bottom: 2vw;
    font-size: 2vw;
}

.teach-exp {
    color: brown;
}

.teacher-desc-div {
    text-align: left;
    position: relative;
    left: 30%;
    bottom: 3vw;
}

.teacher-desc {
    margin-block-start: 0%;
    margin-block-end: 3%;
}

#to-top {
    position: relative;
    top: 85vw;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    cursor: pointer;
    text-align: center;
    background-image: url(../images/div4/receive.png);
    background-repeat: no-repeat;
    background-size: 30vw 8vw;
    width: 30vw;
    height: 10vw;
    display: block;
}

.get-free {
    font-family: zhun;
    color: white;
    font-size: 2.5vw;
    width: 100%;
    font-weight: bold;
    position: relative;
}

@media (min-width:600px) {
    .swiper {
        display: none;
    }
}

@media (max-width:600px) {
    div#bg-container-4 {
        background-image: url(../images/div4/bg-mobl.png);
        background-size: cover;
        height: calc(0.989 * 100vw);
        display: grid;
        justify-items: center;
        grid-template-rows: 100%;
        grid-template-columns: 5% 90% 5%;
    }

    .scrolling-wrapper {
        display: none;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .swiper {
        position: relative;
        top: 45%;
        grid-row: 1;
        width: 90%;
        grid-column-start: 2;
        grid-column-end: 3;
        height: 40vw;
        --swiper-pagination-color: #b43938;
        --swiper-pagination-bullet-size: 8px;
        --swiper-pagination-bullet-inactive-color: white;
        --swiper-pagination-bullet-inactive-opacity: 1;
    }

    #to-top {
        position: relative;
        top: 105vw;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        cursor: pointer;
        text-align: center;
        background-image: url(../images/div4/receive.png);
        background-repeat: no-repeat;
        background-size: 30vw 8vw;
        width: 30vw;
        height: 10vw;
        display: block;
    }



}

/*
sec 5
*/

div#bg-container-5 {
    background-image: url(../images/div5/bg.png);
    background-size: cover;
    display: grid;
    justify-items: center;
    grid-template-rows: 100%;
    grid-template-columns: 5% 90% 5%;
    font-family: zhun;
    height: calc(0.929 * 100vw);
}

.pads {
    width: 42vw;
    text-align: center;
}

.card2 {
    display: inline-block;
    text-align: center;
    margin-left: -1vw;
    margin-right: -1vw;
}

.bar {
    width: 35vw;
    height: 0.5vw;
    position: relative;
    bottom: 30vw;
}

.pad-nar-title {
    position: relative;
    bottom: 29vw;
    line-height: 1vw;
    color: brown;
    font-size: 1.5vw;
}

.pad-nar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30vw;
    overflow-wrap: normal;
    justify-content: space-around;
}

.pad-nar-txt-1 {
    text-align: left;
    width: 26vw;
    white-space: pre-wrap;
    font-size: 1.5vw;
    bottom: 29vw;
    left: 4vw;
    position: relative;
}

.pad-nar-txt-2 {
    text-align: left;
    width: 29vw;
    position: relative;
    bottom: 29vw;
    left: 9vw;
    white-space: pre-wrap;
    font-size: 1.5vw;
    margin-bottom: 30vw;
}

.pad-nar-txt-3 {
    text-align: left;
    width: 29vw;
    position: relative;
    bottom: 30.5vw;
    left: 9vw;
    white-space: pre-wrap;
    font-size: 1.5vw;
    margin-bottom: 30vw;
}

@media (min-width:600px) {
    .swiper2 {
        display: none;
    }
}

@media (max-width:600px) {
    div#bg-container-5 {
        background-image: url(../images/div5/bg-mobl.png);
        background-size: cover;
        display: grid;
        justify-items: center;
        grid-template-rows: 100%;
        grid-template-columns: 5% 90% 5%;
        height: calc(1.208 * 100vw);
    }

    .swiper2 {
        position: relative;
        top: 50vw;
        grid-row: 1;
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 3;
        height: 55vw;
        overflow: hidden;
        --swiper-pagination-color: #b43938;
        --swiper-pagination-bullet-size: 8px;
        --swiper-pagination-bullet-inactive-color: white;
        --swiper-pagination-bullet-inactive-opacity: 1;
    }

    .swiper-wrapper {
        height: 40vw !important;
    }

    .pads {
        width: 44vw;
        text-align: center;
    }

    .swiper-pagination2 {
        position: relative;
        top: 3vw;
        text-align: center;
    }

    .pad-nar-txt-1 {
        text-align: left;
        width: 20vw;
        white-space: pre-wrap;
        font-size: 1.5vw;
        bottom: 35vw;
        left: 5vw;
        position: relative;
    }

    .pad-nar-txt-2 {
        text-align: left;
        width: 20vw;
        position: relative;
        bottom: 35vw;
        left: 9vw;
        white-space: pre-wrap;
        font-size: 1.5vw;
        margin-bottom: 30vw;
    }

    .pad-nar-txt-3 {
        text-align: left;
        width: 20vw;
        position: relative;
        bottom: 37vw;
        left: 10vw;
        white-space: pre-wrap;
        font-size: 1.5vw;
        margin-bottom: 30vw;
    }

    .bar {
        width: 35vw;
        height: 0.5vw;
        position: relative;
        bottom: 36vw;
    }

    .pad-nar-title {
        position: relative;
        bottom: 34vw;
        line-height: 1vw;
        color: brown;
        font-size: 1.5vw;
    }
}

/*
sec6
*/

div#bg-container-6 {
    background-image: url(../images/div6/bg.png);
    background-size: cover;
    justify-items: center;
    font-family: zhun;
    text-align: center;
    height: calc(0.59 * 100vw);
}

.card3 {
    display: inline-block;
    text-align: center;
}

.scrolling-wrapper2::-webkit-scrollbar {
    display: none;
}


.scrolling-wrapper2 {
    position: relative;
    top: 25vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 6vw;
    margin-right: 6vw;
}

.narrative2 {
    margin-left: 12vw;
    margin-right: auto;
    font-family: zhun;
    font-size: 1.6vw;
    color: #444444;
    line-height: 170%;
    text-align: left;
    margin-top: -15vw;
}

.feature-desc {
    position: relative;
    top: -2vw;
    margin-block-start: 0%;
    margin-block-end: 0.5vw;
    font-size: 1.6vw;
    color: #656565;
}

@media (min-width:600px) {
    .card3 {
        display: inline-block;
        text-align: center;
        margin-left: 3.5vw;
        margin-right: 3.5vw;
    }

    .teachers2 {
        width: 10vw;
    }
}

@media (max-width:600px) {
    .feature-desc {
        position: relative;
        top: -2vw;
        margin-block-start: 0%;
        margin-block-end: 3%;
        font-size: 1.6vw;
        color: #656565;
    }

    .teachers2 {
        width: 13vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}

/*
sec7
*/

div#bg-container-7 {
    background-image: url(../images/div7/bg.png);
    background-size: cover;
    justify-items: center;
    justify-content: center;
    font-family: zhun;
    text-align: center;
    height: calc(0.658 * 100vw);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 5% 90% 5%;
    text-align: center;
}

.card4 {
    display: inline-block;
    text-align: center;
    margin-left: -0.5vw;
}

#trust {
    width: 20vw;
}

#fb {
    width: 10vw;
    margin-left: 2vw;
}

#veri {
    position: relative;
    bottom: 450%;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 1;
    grid-column-end: 4;
}

.comments {
    height: 30vw;
}

.scrolling-wrapper-4::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper-4 {
    position: relative;
    top: 40%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    grid-row: 1;
    width: 75vw;
    grid-column-start: 2;
    grid-column-end: 3;
}

.left4 {
    position: relative;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 5%;
    top: 60%;
    left: 50%;
    cursor: pointer;
}

.right4 {
    position: relative;
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 5%;
    top: 60%;
    right: 50%;
    cursor: pointer;
}

@media (min-width:600px) {
    .swiper3 {
        display: none;
    }
}

@media (max-width:600px) {
    div#bg-container-7 {
        background-image: url(../images/div7/bg.png);
        background-size: cover;
        justify-items: center;
        justify-content: center;
        font-family: arl;
        text-align: center;
        height: calc(1 * 100vw);
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 5% 90% 5%;
        text-align: center;
    }

    .scrolling-wrapper-4 {
        display: none;
    }

    .left4 {
        display: none;
    }

    .right4 {
        display: none;
    }

    .comments {
        height: 45vw;
    }

    .swiper3 {
        position: relative;
        top: 34%;
        grid-row: 1;
        width: 90vw;
        grid-column-start: 2;
        grid-column-end: 3;
        height: 55vw;
        overflow-x: hidden;
        overflow-y: hidden;
        --swiper-pagination-color: #b43938;
        --swiper-pagination-bullet-size: 8px;
        --swiper-pagination-bullet-inactive-color: white;
        --swiper-pagination-bullet-inactive-opacity: 1;
    }

    .swiper-pagination3 {
        position: relative;
        top: 5vw;
    }

    #trust {
        position: relative;
        bottom: 19vw;
        width: 25vw;
        height: 15vw;
    }

    #fb {
        position: relative;
        bottom: 19vw;
        width: 13vw;
        margin-left: 2vw;
    }

    #veri {
        position: relative;
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-end: 4;
    }


}

/*
sec8
*/
div#bg-container-8 {
    justify-items: center;
    justify-content: center;
    font-family: zhun;
    text-align: center;
    height: 30vw;
}

#payments {
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

#safe-payment {
    font-size: 3vw;
    color: #444444;
}

.pay-icon {
    width: auto;
    height: 4vw;
    margin-right: 4vw;
    margin-top: 4vw;
}

/*
sec9
*/
div#bg-container-9 {
    justify-items: center;
    justify-content: center;
    font-family: zhun;
    text-align: center;
    background-color: #b43938;
    height: 11vw;
}


#to-top-2 {
    position: relative;
    cursor: pointer;
    text-align: center;
    background-image: url(../images/div9/button.png);
    background-repeat: no-repeat;
    background-size: 37vw 10vw;
    width: 37vw;
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
}


.get-free-2 {
    font-family: zhun;
    color: #b43938;
    font-size: 3vw;
    width: 37vw;
    font-weight: bold;
    position: relative;
    top: 2.9vw;
}

.feature-pagination {
    width: 4vw !important;
    height: 1.5vw !important;
    border-radius: 2vw !important;
}